<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzWidth="256px"
            nzBreakpoint="md">
    <div class="sidebar-logo">
      <img src="assets/img/logo.png" alt="logo">
      <h1>Zucchini Rádio</h1>
    </div>
    <ul class="ul" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzOpen nzTitle="Rádios FM" nzIcon="customer-service">
        <ng-container *ngFor="let route of routes">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="{{ route?.route }}">{{ route?.label }}</a>
            </li>
          </ul>
        </ng-container>
      </li>
      <li nz-submenu nzOpen nzTitle="Player" nzIcon="sound">
        <ng-container *ngFor="let playerOption of playerOptions">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="{{ playerOption?.route}}">{{ playerOption?.label }}</a>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <div class="inner-content w-100 h-100">
      <router-outlet></router-outlet>
     </div>
  </nz-layout>
</nz-layout>
