<div class="w-100 h-100">
  <nz-tabset>
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>
        {{ title }}
        <i class="fas fa-folder ml-2"></i>
      </ng-template>
      <app-album-list [albums]="albums$ | async"></app-album-list>
    </nz-tab>
    <nz-tab [nzTitle]="newAlbumTemplate">
      <ng-template #newAlbumTemplate>
        {{ newAlbum }}
        <i class="fas fa-folder-plus ml-2"></i>
      </ng-template>
      <div class="row flex-column justify-content-center align-items-center m-5 p-5">
        <h5>Novo álbum</h5>
        <app-playlist-form (submitPlaylist)="handleCreatePlaylist($event)"></app-playlist-form>
      </div>
    </nz-tab>
  </nz-tabset>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true">
</ngx-spinner>
