@import '~@fortawesome/fontawesome-free/css/all.min.css';

.cursor-pointer {
  cursor: pointer;
}

.inner-content {
  padding: 24px;
  background: #2e2f34;
  height: 100%;
}

.fv-plugins-message-container {
  margin-top: 0.25rem;

  .fv-help-block {
      color: #f64e60;
      font-size: 0.9rem;
      font-weight: 400;
  }
}
